body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .icons{
      font-size: 3rem;
  }
  .clickButton{
      border: none;
      width: fit-content;
      background: transparent;
      cursor: pointer;
      /* background: transparent; */
      font-size: 1rem;
      color:orange;
  }
  
  .drop-area {
    border: 6px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    width: 40%;
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .drop-area i {
    font-size: 4rem;
    margin-bottom: 10px;
  }
  
  .drop-text {
    font-size: 16px;
  }
  
  #file-input {
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  
  }
  
  #file-upload-container.highlight {
    border-color: orange;
  }
  
.uploaderMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}  