body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  .icons{
      font-size: 3rem;
  }
  .clickButton{
      border: none;
      width: fit-content;
      background: transparent;
      cursor: pointer;
      /* background: transparent; */
      font-size: 1rem;
      color:#FF7900;
  }
  
  .drop-area {
    border: 6px dashed #d8d9db;
    border-radius: 8px;
    padding: 20px;
    width: 40%;
    position: relative;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .drop-area i {
    font-size: 3rem;
    margin-bottom: 10px;
    
  }
  .iconPdf{
    color: #F40F02;
  }
  .iconExcel{
    color:#1D6F42;
  }
  .drop-text {
    font-size: 16px;
  }
  
  #file-input {
    opacity: 0;
    position: absolute;
    top: 0px;
    width: 100%;
    height: 100%;
    cursor: pointer;
  
  }
  
  #file-upload-container.highlight {
    border-color: #FF7900;
  }
  
.uploaderMainDiv{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 2vh;
}  
.UploadStartBtn{
    background-color: #FF7900;
    color: black;
    border-radius: 10px;
    padding: 10px;
}
.UploadStartBtn:hover{
    background-color:  #FF7900;
    color: white;
    transition: 0.3s;
    cursor: pointer;
}
.uploaderInputsDiv{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color:rgba(0,0,0,0.8);
  width:50%;
  padding: 12px;
  row-gap: 3vh;
}
.uploadTitleInput{
  width:40%;
  font-size:1rem;
}
.uploadSelectInput{
  width:30%;
  font-size:1rem;
  background-color:white;
}
.OtherOptionsDiv{
  display: flex;
  flex-direction: row;
  column-gap: 1vw;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width:600px) {
  .uploaderInputsDiv{
    width: 70%;
  }
  .drop-area{
    width: 50%;
  }
  .uploadTitleInput{
    width:50%
  }
  .uploadSelectInput{
    width: 50%;
  }
}